[Unit]
Description=3D accel gyro and magn

[Service]
Type=forking
ExecStart=/home/root/LSM9DS0/9DOFd
Environment="HOME=/home/root"
WorkingDirectory=/home/root/.cache/obexd
